.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

/* Estilo para quadrados brancos */
.white-square {
  background-color: #ffce9e; /* Cor de fundo para quadrados brancos */
}

/* Estilo para quadrados pretos */
.black-square {
  background-color: #d18b47; /* Cor de fundo para quadrados pretos */
}

/* Estilo para texto em quadrados */
.square-text {
  color: #ffffff; /* Cor do texto */
}
